bot_escola.json
{
  "name": "BOT ESCOLA INFANTIL",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "escola-bot",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "es-0001-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -64,
        384
      ],
      "webhookId": "escola-bot"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {}
      },
      "id": "es-0001-0001-0001-0001-000000000002",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        160,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "const body    = $input.first().json.body ?? $input.first().json;\nconst data    = body.data    ?? body;\nconst key     = data.key     ?? body.key     ?? {};\nconst message = data.message ?? body.message ?? {};\n\nif (key.fromMe === true) return [];\nif ((key.remoteJid ?? '').includes('@g.us')) return [];\n\nconst from = (key.remoteJid ?? '')\n  .replace('@s.whatsapp.net', '')\n  .replace('@g.us', '');\n\nif (!from || from.length < 5) return [];\n\nconst texto    = (message.conversation ?? message.extendedTextMessage?.text ?? message.buttonsResponseMessage?.selectedDisplayText ?? message.listResponseMessage?.singleSelectReply?.selectedRowId ?? '').trim();\nconst buttonId = message.buttonsResponseMessage?.selectedButtonId ?? message.listResponseMessage?.singleSelectReply?.selectedRowId ?? null;\nconst instance = body.instance ?? data.instance ?? 'bot-bruno';\n\nreturn [{ json: { from, texto, buttonId, instance } }];"
      },
      "id": "es-0001-0001-0001-0001-000000000003",
      "name": "Parsear Mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        384
      ]
    },
    {
      "parameters": {
        "url": "=https://ywsobgbpwhykkfolvoml.supabase.co/rest/v1/responsaveis?telefone=eq.{{ $json.from }}&select=id,nome,aluno,turma",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3c29iZ2Jwd2h5a2tmb2x2b21sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3NzY0MzcsImV4cCI6MjA5NjM1MjQzN30.9AT-9X8WX3ecA2_OYOy4tVaJLgNhf3k1lo8rngkWcE8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3c29iZ2Jwd2h5a2tmb2x2b21sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3NzY0MzcsImV4cCI6MjA5NjM1MjQzN30.9AT-9X8WX3ecA2_OYOy4tVaJLgNhf3k1lo8rngkWcE8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "es-0001-0001-0001-0001-000000000004",
      "name": "GET Responsavel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        384,
        384
      ]
    },
    {
      "parameters": {
        "url": "=https://ywsobgbpwhykkfolvoml.supabase.co/rest/v1/sessoes_escola?telefone=eq.{{ $('Parsear Mensagem').item.json.from }}&select=etapa,dados",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3c29iZ2Jwd2h5a2tmb2x2b21sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3NzY0MzcsImV4cCI6MjA5NjM1MjQzN30.9AT-9X8WX3ecA2_OYOy4tVaJLgNhf3k1lo8rngkWcE8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3c29iZ2Jwd2h5a2tmb2x2b21sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3NzY0MzcsImV4cCI6MjA5NjM1MjQzN30.9AT-9X8WX3ecA2_OYOy4tVaJLgNhf3k1lo8rngkWcE8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "es-0001-0001-0001-0001-000000000005",
      "name": "GET Sessao",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        608,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "const p = $('Parsear Mensagem').item.json;\nlet responsaveis = [], sessoes = [];\ntry { const t = $('GET Responsavel').item.json.data ?? $('GET Responsavel').item.json; responsaveis = typeof t === 'string' ? JSON.parse(t) : (Array.isArray(t) ? t : []); } catch(e) { responsaveis = []; }\ntry { const t = $('GET Sessao').item.json.data ?? $('GET Sessao').item.json; sessoes = typeof t === 'string' ? JSON.parse(t) : (Array.isArray(t) ? t : []); } catch(e) { sessoes = []; }\nconst r = responsaveis[0] ?? null;\nconst s = sessoes[0] ?? null;\nreturn [{ json: {\n  from:                  p.from,\n  texto:                 p.texto,\n  buttonId:              p.buttonId,\n  instance:              p.instance,\n  responsavelEncontrado: r !== null,\n  responsavelId:         r?.id    ?? null,\n  responsavelNome:       r?.nome  ?? null,\n  responsavelAluno:      r?.aluno ?? null,\n  responsavelTurma:      r?.turma ?? null,\n  sessaoEtapa:           s?.etapa ?? null,\n  sessaoDados:           s?.dados ?? {}\n} }];"
      },
      "id": "es-0001-0001-0001-0001-000000000006",
      "name": "Consolidar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        384
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.responsavelEncontrado }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "es-0001-0001-0001-0001-000000000007",
      "name": "Responsavel existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1040,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $json;\nconst etapa = d.sessaoEtapa, texto = d.texto ?? '', dados = d.sessaoDados ?? {};\nlet nd = { ...dados }, prox = null, resp = '', ok = false;\n\nif (!etapa) {\n  resp = 'Olá! Bem-vindo ao bot da escola. 😊\\n\\nDigite o seu *nome completo* como responsável:';\n  prox = 'aguardando_nome'; nd = {};\n} else if (etapa === 'aguardando_nome') {\n  if (texto.length < 3) { resp = '⚠️ Nome muito curto. Digite seu nome completo.'; prox = 'aguardando_nome'; }\n  else {\n    nd.nome = texto;\n    resp = `Obrigado, *${texto}*! 👋\\n\\nAgora me informe o *nome da criança* e qual *turma/ano* ela está:\\n\\n_(ex: João - 3A, Maria / 2° ano B)_`;\n    prox = 'aguardando_aluno_turma';\n  }\n} else if (etapa === 'aguardando_aluno_turma') {\n  if (texto.length < 2) { resp = '⚠️ Por favor, informe o nome da criança e a turma.'; prox = 'aguardando_aluno_turma'; }\n  else {\n    const sep = texto.includes(',') ? ',' : texto.includes(' - ') ? ' - ' : texto.includes('/') ? '/' : null;\n    if (sep) {\n      const parts = texto.split(sep).map(s => s.trim());\n      nd.aluno = parts[0];\n      nd.turma = parts.slice(1).join(' ').trim();\n    } else {\n      nd.aluno = texto; nd.turma = '';\n    }\n    ok = true;\n    resp = `✅ *Cadastro realizado!*\\n\\n👤 ${nd.nome}\\n👶 ${nd.aluno}${nd.turma ? ' — ' + nd.turma : ''}\\n\\nBem-vindo(a)! Envie qualquer mensagem para ver o menu. 🎉`;\n  }\n}\n\nreturn [{ json: { from: d.from, instance: d.instance, resp, prox, nd: JSON.stringify(nd), ok, nome: nd.nome ?? '', aluno: nd.aluno ?? '', turma: nd.turma ?? '' } }];"
      },
      "id": "es-0001-0001-0001-0001-000000000008",
      "name": "Lógica Cadastro",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        576
      ]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://ywsobgbpwhykkfolvoml.supabase.co/rest/v1/sessoes_escola?telefone=eq.{{ $json.from }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3c29iZ2Jwd2h5a2tmb2x2b21sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3NzY0MzcsImV4cCI6MjA5NjM1MjQzN30.9AT-9X8WX3ecA2_OYOy4tVaJLgNhf3k1lo8rngkWcE8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3c29iZ2Jwd2h5a2tmb2x2b21sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3NzY0MzcsImV4cCI6MjA5NjM1MjQzN30.9AT-9X8WX3ecA2_OYOy4tVaJLgNhf3k1lo8rngkWcE8"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "es-0001-0001-0001-0001-000000000009",
      "name": "DELETE Sessao Cadastro",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        704
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c2",
              "leftValue": "={{ $('Lógica Cadastro').item.json.ok }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "es-0001-0001-0001-0001-000000000010",
      "name": "Cadastro OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1552,
        720
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ywsobgbpwhykkfolvoml.supabase.co/rest/v1/sessoes_escola",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3c29iZ2Jwd2h5a2tmb2x2b21sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3NzY0MzcsImV4cCI6MjA5NjM1MjQzN30.9AT-9X8WX3ecA2_OYOy4tVaJLgNhf3k1lo8rngkWcE8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3c29iZ2Jwd2h5a2tmb2x2b21sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3NzY0MzcsImV4cCI6MjA5NjM1MjQzN30.9AT-9X8WX3ecA2_OYOy4tVaJLgNhf3k1lo8rngkWcE8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ telefone: $('Lógica Cadastro').item.json.from, etapa: $('Lógica Cadastro').item.json.prox, dados: JSON.parse($('Lógica Cadastro').item.json.nd), updated_at: new Date().toISOString() }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "es-0001-0001-0001-0001-000000000011",
      "name": "INSERT Sessao Cadastro",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ywsobgbpwhykkfolvoml.supabase.co/rest/v1/responsaveis",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3c29iZ2Jwd2h5a2tmb2x2b21sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3NzY0MzcsImV4cCI6MjA5NjM1MjQzN30.9AT-9X8WX3ecA2_OYOy4tVaJLgNhf3k1lo8rngkWcE8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3c29iZ2Jwd2h5a2tmb2x2b21sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3NzY0MzcsImV4cCI6MjA5NjM1MjQzN30.9AT-9X8WX3ecA2_OYOy4tVaJLgNhf3k1lo8rngkWcE8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $('Lógica Cadastro').item.json.nome }}"
            },
            {
              "name": "telefone",
              "value": "={{ $('Lógica Cadastro').item.json.from }}"
            },
            {
              "name": "aluno",
              "value": "={{ $('Lógica Cadastro').item.json.aluno }}"
            },
            {
              "name": "turma",
              "value": "={{ $('Lógica Cadastro').item.json.turma }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "es-0001-0001-0001-0001-000000000012",
      "name": "INSERT Responsavel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1904,
        752
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolution.automacaopme.com.br/message/sendText/{{ $('Lógica Cadastro').item.json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "187303942A46-4052-8D89-5A4CA2523ABD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Lógica Cadastro').item.json.from }}"
            },
            {
              "name": "text",
              "value": "={{ $('Lógica Cadastro').item.json.resp }}"
            }
          ]
        },
        "options": {}
      },
      "id": "es-0001-0001-0001-0001-000000000013",
      "name": "Enviar Cadastro",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2144,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $json;\nconst t = (d.texto ?? '').trim();\nconst upper = t.toUpperCase();\nconst b = d.buttonId;\nconst etapa = d.sessaoEtapa ?? '';\n\nlet rota = 'menu';\nif (upper === 'CANCELAR') rota = 'cancelar';\nelse if (etapa.startsWith('autorizacao_')) rota = 'autorizacao';\nelse if (etapa.startsWith('reserva_')) rota = 'reserva';\nelse if (etapa.startsWith('ocorrencia_')) rota = 'ocorrencia';\nelse if (etapa.startsWith('solicitacao_')) rota = 'solicitacao';\nelse if (b === 'btn_agenda' || t === '1') rota = 'agenda';\nelse if (b === 'btn_cardapio' || t === '2') rota = 'cardapio';\nelse if (b === 'btn_autorizacao' || t === '3') rota = 'autorizacao';\nelse if (b === 'btn_reserva' || t === '4') rota = 'reserva';\nelse if (b === 'btn_ocorrencia' || t === '5') rota = 'ocorrencia';\nelse if (b === 'btn_solicitacao' || t === '6') rota = 'solicitacao';\nelse if (b === 'btn_avisos' || t === '7') rota = 'avisos';\n\nreturn [{ json: { ...d, rota } }];"
      },
      "id": "es-0001-0001-0001-0001-000000000014",
      "name": "Roteador",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        208
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.rota }}",
                    "rightValue": "agenda",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "agenda"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.rota }}",
                    "rightValue": "cardapio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cardapio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.rota }}",
                    "rightValue": "autorizacao",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "autorizacao"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.rota }}",
                    "rightValue": "reserva",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reserva"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.rota }}",
                    "rightValue": "ocorrencia",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ocorrencia"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.rota }}",
                    "rightValue": "solicitacao",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "solicitacao"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.rota }}",
                    "rightValue": "avisos",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "avisos"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.rota }}",
                    "rightValue": "cancelar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.rota }}",
                    "rightValue": "menu",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "menu"
            }
          ]
        },
        "options": {}
      },
      "id": "es-0001-0001-0001-0001-000000000015",
      "name": "Switch Rota",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1408,
        48
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolution.automacaopme.com.br/message/sendText/{{ $json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "187303942A46-4052-8D89-5A4CA2523ABD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.from }}"
            },
            {
              "name": "text",
              "value": "={{ '🏫 *EscolaZap*\\n\\nOlá, *' + $json.responsavelNome + '*! 👋\\n👶 ' + $json.responsavelAluno + ' — Turma ' + $json.responsavelTurma + '\\n\\nComo posso ajudar?\\n\\n1️⃣  📅 Agenda & Eventos\\n2️⃣  🍽️ Cardápio da Semana\\n3️⃣  ✅ Autorizar Busca\\n4️⃣  🗓️ Fazer Reserva\\n5️⃣  ⚠️ Registrar Ocorrência\\n6️⃣  📋 Solicitações\\n7️⃣  📢 Meus Avisos\\n\\n_Digite o número da opção desejada_' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "es-0001-0001-0001-0001-000000000016",
      "name": "Enviar Menu",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        160
      ]
    },
    {
      "parameters": {
        "url": "=https://ywsobgbpwhykkfolvoml.supabase.co/rest/v1/agenda?data=gte.{{ new Date().toISOString().split('T')[0] }}&select=data,titulo,descricao,turma&order=data.asc&limit=5",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3c29iZ2Jwd2h5a2tmb2x2b21sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3NzY0MzcsImV4cCI6MjA5NjM1MjQzN30.9AT-9X8WX3ecA2_OYOy4tVaJLgNhf3k1lo8rngkWcE8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3c29iZ2Jwd2h5a2tmb2x2b21sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3NzY0MzcsImV4cCI6MjA5NjM1MjQzN30.9AT-9X8WX3ecA2_OYOy4tVaJLgNhf3k1lo8rngkWcE8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "es-0001-0001-0001-0001-000000000017",
      "name": "GET Agenda",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        -64
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.data ?? $input.first().json;\nlet lista = [];\ntry { lista = typeof raw === 'string' ? JSON.parse(raw) : (Array.isArray(raw) ? raw : []); } catch(e) { lista = []; }\nconst ctx = $('Roteador').item.json;\nconst from = ctx.from, instance = ctx.instance, turma = ctx.responsavelTurma;\n\n// Filtrar eventos da turma do aluno + eventos gerais (turma null)\nconst filtrados = lista.filter(e => !e.turma || e.turma === turma);\n\nif (filtrados.length === 0) {\n  return [{ json: { from, instance, msg: '📅 *Agenda Escolar*\\n\\nNenhum evento programado nos próximos dias. 😊\\n\\nFique de olho! Assim que houver algo, avisamos por aqui.' } }];\n}\nlet t = `📅 *Próximos Eventos*\\n\\n`;\nfiltrados.forEach(e => {\n  const dt = e.data ? new Date(e.data + 'T12:00:00').toLocaleDateString('pt-BR', { weekday: 'short', day: '2-digit', month: '2-digit' }) : '?';\n  const turmaLabel = e.turma ? ` _(${e.turma})_` : ' _(Todos)_';\n  t += `📌 *${e.titulo}*${turmaLabel}\\n   📅 ${dt}\\n`;\n  if (e.descricao) t += `   ${e.descricao}\\n`;\n  t += '\\n';\n});\nt += '_Para mais informações, fale com a coordenação._ 🏫';\nreturn [{ json: { from, instance, msg: t } }];"
      },
      "id": "es-0001-0001-0001-0001-000000000018",
      "name": "Formatar Agenda",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        -48
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolution.automacaopme.com.br/message/sendText/{{ $json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "187303942A46-4052-8D89-5A4CA2523ABD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.from }}"
            },
            {
              "name": "text",
              "value": "={{ $json.msg }}"
            }
          ]
        },
        "options": {}
      },
      "id": "es-0001-0001-0001-0001-000000000019",
      "name": "Enviar Agenda",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2144,
        -48
      ]
    },
    {
      "parameters": {
        "url": "=https://ywsobgbpwhykkfolvoml.supabase.co/rest/v1/cardapio?semana_inicio=lte.{{ new Date().toISOString().split('T')[0] }}&select=*&order=semana_inicio.desc&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3c29iZ2Jwd2h5a2tmb2x2b21sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3NzY0MzcsImV4cCI6MjA5NjM1MjQzN30.9AT-9X8WX3ecA2_OYOy4tVaJLgNhf3k1lo8rngkWcE8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3c29iZ2Jwd2h5a2tmb2x2b21sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3NzY0MzcsImV4cCI6MjA5NjM1MjQzN30.9AT-9X8WX3ecA2_OYOy4tVaJLgNhf3k1lo8rngkWcE8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "es-0001-0001-0001-0001-000000000020",
      "name": "GET Cardapio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.data ?? $input.first().json;\nlet lista = [];\ntry { lista = typeof raw === 'string' ? JSON.parse(raw) : (Array.isArray(raw) ? raw : []); } catch(e) { lista = []; }\nconst ctx = $('Roteador').item.json;\nconst from = ctx.from, instance = ctx.instance;\n\nif (lista.length === 0) {\n  return [{ json: { from, instance, msg: '🍽️ *Cardápio Semanal*\\n\\nO cardápio desta semana ainda não foi publicado.\\n\\nConsulte a coordenação para mais informações. 😊' } }];\n}\nconst c = lista[0];\nconst semana = new Date(c.semana_inicio + 'T12:00:00').toLocaleDateString('pt-BR', { day: '2-digit', month: '2-digit' });\nlet msg = `🍽️ *Cardápio da Semana*\\n_Semana de ${semana}_\\n\\n`;\nif (c.segunda) msg += `🔵 *Segunda:* ${c.segunda}\\n`;\nif (c.terca)   msg += `🟢 *Terça:*   ${c.terca}\\n`;\nif (c.quarta)  msg += `🟡 *Quarta:*  ${c.quarta}\\n`;\nif (c.quinta)  msg += `🟠 *Quinta:*  ${c.quinta}\\n`;\nif (c.sexta)   msg += `🔴 *Sexta:*   ${c.sexta}\\n`;\nmsg += '\\n_Bom apetite! 😋🥗_';\nreturn [{ json: { from, instance, msg } }];"
      },
      "id": "es-0001-0001-0001-0001-000000000021",
      "name": "Formatar Cardapio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        288
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolution.automacaopme.com.br/message/sendText/{{ $json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "187303942A46-4052-8D89-5A4CA2523ABD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.from }}"
            },
            {
              "name": "text",
              "value": "={{ $json.msg }}"
            }
          ]
        },
        "options": {}
      },
      "id": "es-0001-0001-0001-0001-000000000022",
      "name": "Enviar Cardapio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2144,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $json;\nconst etapa = d.sessaoEtapa, texto = d.texto ?? '', dados = d.sessaoDados ?? {};\nlet nd = { ...dados }, prox = null, resp = '', ok = false;\n\nif (!etapa || etapa === 'autorizacao_nome') {\n  if (!etapa) {\n    resp = '✅ *Autorizar Busca do Aluno*\\n\\n_Quem você deseja autorizar a buscar ' + d.responsavelAluno + '?_\\n\\nDigite o *nome completo* do autorizador:';\n    prox = 'autorizacao_nome';\n  } else {\n    if (texto.length < 3) { resp = '⚠️ Nome muito curto. Digite o nome completo.'; prox = 'autorizacao_nome'; }\n    else { nd.nome = texto; resp = `📄 *Documento do autorizador*\\n\\nQual o número do RG ou CPF de *${texto}*?`; prox = 'autorizacao_documento'; }\n  }\n} else if (etapa === 'autorizacao_documento') {\n  if (texto.length < 3) { resp = '⚠️ Documento inválido. Tente novamente.'; prox = 'autorizacao_documento'; }\n  else { nd.documento = texto; resp = `👨‍👩‍👧 *Parentesco*\\n\\nQual o parentesco de *${nd.nome}* com ${d.responsavelAluno}?\\n\\n_(Ex: Avó, Tio, Vizinho, Babá)_`; prox = 'autorizacao_parentesco'; }\n} else if (etapa === 'autorizacao_parentesco') {\n  nd.parentesco = texto; ok = true;\n  resp = `✅ *Autorização registrada!*\\n\\n👤 ${nd.nome}\\n📄 Doc: ${nd.documento}\\n👨‍👩‍👧 ${nd.parentesco}\\n\\nEsta pessoa está autorizada a buscar *${d.responsavelAluno}*. ✅\\n\\nA coordenação foi notificada.`;\n}\n\nreturn [{ json: { from: d.from, instance: d.instance, responsavelId: d.responsavelId, aluno: d.responsavelAluno, resp, prox, nd: JSON.stringify(nd), ok } }];"
      },
      "id": "es-0001-0001-0001-0001-000000000023",
      "name": "Lógica Autorizacao",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        528
      ]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://ywsobgbpwhykkfolvoml.supabase.co/rest/v1/sessoes_escola?telefone=eq.{{ $json.from }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3c29iZ2Jwd2h5a2tmb2x2b21sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3NzY0MzcsImV4cCI6MjA5NjM1MjQzN30.9AT-9X8WX3ecA2_OYOy4tVaJLgNhf3k1lo8rngkWcE8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3c29iZ2Jwd2h5a2tmb2x2b21sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3NzY0MzcsImV4cCI6MjA5NjM1MjQzN30.9AT-9X8WX3ecA2_OYOy4tVaJLgNhf3k1lo8rngkWcE8"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "es-0001-0001-0001-0001-000000000024",
      "name": "DELETE Sessao Aut",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1904,
        528
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "caut",
              "leftValue": "={{ $('Lógica Autorizacao').item.json.ok }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "es-0001-0001-0001-0001-000000000025",
      "name": "Aut OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2080,
        528
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ywsobgbpwhykkfolvoml.supabase.co/rest/v1/sessoes_escola",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3c29iZ2Jwd2h5a2tmb2x2b21sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3NzY0MzcsImV4cCI6MjA5NjM1MjQzN30.9AT-9X8WX3ecA2_OYOy4tVaJLgNhf3k1lo8rngkWcE8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3c29iZ2Jwd2h5a2tmb2x2b21sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3NzY0MzcsImV4cCI6MjA5NjM1MjQzN30.9AT-9X8WX3ecA2_OYOy4tVaJLgNhf3k1lo8rngkWcE8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ telefone: $('Lógica Autorizacao').item.json.from, etapa: $('Lógica Autorizacao').item.json.prox, dados: JSON.parse($('Lógica Autorizacao').item.json.nd), updated_at: new Date().toISOString() }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "es-0001-0001-0001-0001-000000000026",
      "name": "INSERT Sessao Aut",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2272,
        448
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ywsobgbpwhykkfolvoml.supabase.co/rest/v1/autorizacoes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3c29iZ2Jwd2h5a2tmb2x2b21sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3NzY0MzcsImV4cCI6MjA5NjM1MjQzN30.9AT-9X8WX3ecA2_OYOy4tVaJLgNhf3k1lo8rngkWcE8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3c29iZ2Jwd2h5a2tmb2x2b21sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3NzY0MzcsImV4cCI6MjA5NjM1MjQzN30.9AT-9X8WX3ecA2_OYOy4tVaJLgNhf3k1lo8rngkWcE8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ responsavel_id: $('Lógica Autorizacao').item.json.responsavelId, nome_autorizador: JSON.parse($('Lógica Autorizacao').item.json.nd).nome, documento: JSON.parse($('Lógica Autorizacao').item.json.nd).documento, parentesco: JSON.parse($('Lógica Autorizacao').item.json.nd).parentesco }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "es-0001-0001-0001-0001-000000000027",
      "name": "INSERT Autorizacao",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2272,
        608
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolution.automacaopme.com.br/message/sendText/{{ $('Lógica Autorizacao').item.json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "187303942A46-4052-8D89-5A4CA2523ABD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Lógica Autorizacao').item.json.from }}"
            },
            {
              "name": "text",
              "value": "={{ $('Lógica Autorizacao').item.json.resp }}"
            }
          ]
        },
        "options": {}
      },
      "id": "es-0001-0001-0001-0001-000000000028",
      "name": "Enviar Autorizacao",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2464,
        528
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $json;\nconst etapa = d.sessaoEtapa, texto = d.texto ?? '', dados = d.sessaoDados ?? {};\nlet nd = { ...dados }, prox = null, resp = '', ok = false;\n\nif (!etapa || etapa === 'ocorrencia_titulo') {\n  if (!etapa) {\n    resp = '⚠️ *Registrar Ocorrência*\\n\\nQual o *assunto* da ocorrência?\\n\\n_(Ex: Queda no recreio, Conflito com colega, Problema de saúde)_';\n    prox = 'ocorrencia_titulo';\n  } else {\n    if (texto.length < 3) { resp = '⚠️ Descrição muito curta. Tente novamente.'; prox = 'ocorrencia_titulo'; }\n    else { nd.titulo = texto; resp = `📝 *Descreva o ocorrido*\\n\\nConte com mais detalhes o que aconteceu:`; prox = 'ocorrencia_descricao'; }\n  }\n} else if (etapa === 'ocorrencia_descricao') {\n  if (texto.length < 5) { resp = '⚠️ Descrição muito curta. Informe mais detalhes.'; prox = 'ocorrencia_descricao'; }\n  else { nd.descricao = texto; resp = `🚨 *Urgência*\\n\\nQual a urgência desta ocorrência?\\n\\n🟢 baixa\\n🟡 media\\n🔴 alta`; prox = 'ocorrencia_urgencia'; }\n} else if (etapa === 'ocorrencia_urgencia') {\n  const urg = texto.toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\n  nd.urgencia = ['baixa','media','alta'].includes(urg) ? urg : 'media';\n  ok = true;\n  const proto = 'OC-' + String(Date.now()).slice(-6);\n  nd.protocolo = proto;\n  resp = `✅ *Ocorrência registrada!*\\n\\n📋 Assunto: ${nd.titulo}\\n🚨 Urgência: ${nd.urgencia}\\n🔖 Protocolo: *${proto}*\\n\\nA coordenação irá analisar e entrará em contato. 🏫`;\n}\n\nreturn [{ json: { from: d.from, instance: d.instance, responsavelId: d.responsavelId, aluno: d.responsavelAluno, resp, prox, nd: JSON.stringify(nd), ok } }];"
      },
      "id": "es-0001-0001-0001-0001-000000000029",
      "name": "Lógica Ocorrencia",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        800
      ]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://ywsobgbpwhykkfolvoml.supabase.co/rest/v1/sessoes_escola?telefone=eq.{{ $json.from }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3c29iZ2Jwd2h5a2tmb2x2b21sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3NzY0MzcsImV4cCI6MjA5NjM1MjQzN30.9AT-9X8WX3ecA2_OYOy4tVaJLgNhf3k1lo8rngkWcE8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3c29iZ2Jwd2h5a2tmb2x2b21sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3NzY0MzcsImV4cCI6MjA5NjM1MjQzN30.9AT-9X8WX3ecA2_OYOy4tVaJLgNhf3k1lo8rngkWcE8"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "es-0001-0001-0001-0001-000000000030",
      "name": "DELETE Sessao Occ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1904,
        800
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cocc",
              "leftValue": "={{ $('Lógica Ocorrencia').item.json.ok }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "es-0001-0001-0001-0001-000000000031",
      "name": "Occ OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2080,
        800
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ywsobgbpwhykkfolvoml.supabase.co/rest/v1/sessoes_escola",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3c29iZ2Jwd2h5a2tmb2x2b21sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3NzY0MzcsImV4cCI6MjA5NjM1MjQzN30.9AT-9X8WX3ecA2_OYOy4tVaJLgNhf3k1lo8rngkWcE8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3c29iZ2Jwd2h5a2tmb2x2b21sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3NzY0MzcsImV4cCI6MjA5NjM1MjQzN30.9AT-9X8WX3ecA2_OYOy4tVaJLgNhf3k1lo8rngkWcE8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ telefone: $('Lógica Ocorrencia').item.json.from, etapa: $('Lógica Ocorrencia').item.json.prox, dados: JSON.parse($('Lógica Ocorrencia').item.json.nd), updated_at: new Date().toISOString() }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "es-0001-0001-0001-0001-000000000032",
      "name": "INSERT Sessao Occ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2272,
        720
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ywsobgbpwhykkfolvoml.supabase.co/rest/v1/ocorrencias_escola",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3c29iZ2Jwd2h5a2tmb2x2b21sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3NzY0MzcsImV4cCI6MjA5NjM1MjQzN30.9AT-9X8WX3ecA2_OYOy4tVaJLgNhf3k1lo8rngkWcE8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3c29iZ2Jwd2h5a2tmb2x2b21sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3NzY0MzcsImV4cCI6MjA5NjM1MjQzN30.9AT-9X8WX3ecA2_OYOy4tVaJLgNhf3k1lo8rngkWcE8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ responsavel_id: $('Lógica Ocorrencia').item.json.responsavelId, aluno: $('Lógica Ocorrencia').item.json.aluno, titulo: JSON.parse($('Lógica Ocorrencia').item.json.nd).titulo, descricao: JSON.parse($('Lógica Ocorrencia').item.json.nd).descricao, urgencia: JSON.parse($('Lógica Ocorrencia').item.json.nd).urgencia, status: 'aberta' }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "es-0001-0001-0001-0001-000000000033",
      "name": "INSERT Ocorrencia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2272,
        880
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolution.automacaopme.com.br/message/sendText/{{ $('Lógica Ocorrencia').item.json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "187303942A46-4052-8D89-5A4CA2523ABD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Lógica Ocorrencia').item.json.from }}"
            },
            {
              "name": "text",
              "value": "={{ $('Lógica Ocorrencia').item.json.resp }}"
            }
          ]
        },
        "options": {}
      },
      "id": "es-0001-0001-0001-0001-000000000034",
      "name": "Enviar Ocorrencia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2464,
        800
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $json;\nconst etapa = d.sessaoEtapa, texto = d.texto ?? '', dados = d.sessaoDados ?? {};\nlet nd = { ...dados }, prox = null, resp = '', ok = false;\n\nif (!etapa || etapa === 'solicitacao_tipo') {\n  if (!etapa) {\n    resp = '📋 *Solicitações Administrativas*\\n\\nQual o tipo de solicitação?\\n\\n🔹 Declaração de matrícula\\n🔹 Histórico escolar\\n🔹 Transferência\\n🔹 Segundo via de contrato\\n🔹 Outros\\n\\n_Digite o tipo ou descreva brevemente:_';\n    prox = 'solicitacao_tipo';\n  } else {\n    if (texto.length < 3) { resp = '⚠️ Descreva o tipo de solicitação.'; prox = 'solicitacao_tipo'; }\n    else { nd.tipo = texto; resp = `📝 *Detalhes da Solicitação*\\n\\nDescreva com mais detalhes o que precisa:`; prox = 'solicitacao_descricao'; }\n  }\n} else if (etapa === 'solicitacao_descricao') {\n  if (texto.length < 5) { resp = '⚠️ Descreva melhor sua solicitação.'; prox = 'solicitacao_descricao'; }\n  else {\n    nd.descricao = texto; ok = true;\n    const proto = 'SL-' + String(Date.now()).slice(-6);\n    nd.protocolo = proto;\n    resp = `✅ *Solicitação registrada!*\\n\\n📋 Tipo: ${nd.tipo}\\n🔖 Protocolo: *${proto}*\\n\\nA secretaria analisará sua solicitação em até 2 dias úteis. 📅\\n\\n_Dúvidas? Ligue para a secretaria._`;\n  }\n}\n\nreturn [{ json: { from: d.from, instance: d.instance, responsavelId: d.responsavelId, resp, prox, nd: JSON.stringify(nd), ok } }];"
      },
      "id": "es-0001-0001-0001-0001-000000000035",
      "name": "Lógica Solicitacao",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        1072
      ]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://ywsobgbpwhykkfolvoml.supabase.co/rest/v1/sessoes_escola?telefone=eq.{{ $json.from }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3c29iZ2Jwd2h5a2tmb2x2b21sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3NzY0MzcsImV4cCI6MjA5NjM1MjQzN30.9AT-9X8WX3ecA2_OYOy4tVaJLgNhf3k1lo8rngkWcE8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3c29iZ2Jwd2h5a2tmb2x2b21sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3NzY0MzcsImV4cCI6MjA5NjM1MjQzN30.9AT-9X8WX3ecA2_OYOy4tVaJLgNhf3k1lo8rngkWcE8"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "es-0001-0001-0001-0001-000000000036",
      "name": "DELETE Sessao Sol",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1904,
        1072
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "csol",
              "leftValue": "={{ $('Lógica Solicitacao').item.json.ok }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "es-0001-0001-0001-0001-000000000037",
      "name": "Sol OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2080,
        1072
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ywsobgbpwhykkfolvoml.supabase.co/rest/v1/sessoes_escola",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3c29iZ2Jwd2h5a2tmb2x2b21sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3NzY0MzcsImV4cCI6MjA5NjM1MjQzN30.9AT-9X8WX3ecA2_OYOy4tVaJLgNhf3k1lo8rngkWcE8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3c29iZ2Jwd2h5a2tmb2x2b21sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3NzY0MzcsImV4cCI6MjA5NjM1MjQzN30.9AT-9X8WX3ecA2_OYOy4tVaJLgNhf3k1lo8rngkWcE8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ telefone: $('Lógica Solicitacao').item.json.from, etapa: $('Lógica Solicitacao').item.json.prox, dados: JSON.parse($('Lógica Solicitacao').item.json.nd), updated_at: new Date().toISOString() }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "es-0001-0001-0001-0001-000000000038",
      "name": "INSERT Sessao Sol",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2272,
        992
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ywsobgbpwhykkfolvoml.supabase.co/rest/v1/solicitacoes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3c29iZ2Jwd2h5a2tmb2x2b21sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3NzY0MzcsImV4cCI6MjA5NjM1MjQzN30.9AT-9X8WX3ecA2_OYOy4tVaJLgNhf3k1lo8rngkWcE8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3c29iZ2Jwd2h5a2tmb2x2b21sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3NzY0MzcsImV4cCI6MjA5NjM1MjQzN30.9AT-9X8WX3ecA2_OYOy4tVaJLgNhf3k1lo8rngkWcE8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ responsavel_id: $('Lógica Solicitacao').item.json.responsavelId, tipo: JSON.parse($('Lógica Solicitacao').item.json.nd).tipo, descricao: JSON.parse($('Lógica Solicitacao').item.json.nd).descricao, status: 'pendente' }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "es-0001-0001-0001-0001-000000000039",
      "name": "INSERT Solicitacao",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2272,
        1152
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolution.automacaopme.com.br/message/sendText/{{ $('Lógica Solicitacao').item.json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "187303942A46-4052-8D89-5A4CA2523ABD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Lógica Solicitacao').item.json.from }}"
            },
            {
              "name": "text",
              "value": "={{ $('Lógica Solicitacao').item.json.resp }}"
            }
          ]
        },
        "options": {}
      },
      "id": "es-0001-0001-0001-0001-000000000040",
      "name": "Enviar Solicitacao",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2464,
        1072
      ]
    },
    {
      "parameters": {
        "url": "=https://ywsobgbpwhykkfolvoml.supabase.co/rest/v1/avisos?responsavel_id=eq.{{ $json.responsavelId }}&status=eq.pendente&select=id,titulo,mensagem,created_at&order=created_at.desc&limit=10",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3c29iZ2Jwd2h5a2tmb2x2b21sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3NzY0MzcsImV4cCI6MjA5NjM1MjQzN30.9AT-9X8WX3ecA2_OYOy4tVaJLgNhf3k1lo8rngkWcE8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3c29iZ2Jwd2h5a2tmb2x2b21sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3NzY0MzcsImV4cCI6MjA5NjM1MjQzN30.9AT-9X8WX3ecA2_OYOy4tVaJLgNhf3k1lo8rngkWcE8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "es-0001-0001-0001-0001-000000000041",
      "name": "GET Avisos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        1344
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.data ?? $input.first().json;\nlet lista = [];\ntry { lista = typeof raw === 'string' ? JSON.parse(raw) : (Array.isArray(raw) ? raw : []); } catch(e) { lista = []; }\nconst ctx = $('Roteador').item.json;\nconst from = ctx.from, instance = ctx.instance, nome = ctx.responsavelNome;\n\nif (lista.length === 0) {\n  return [{ json: { from, instance, msg: '📢 *Meus Avisos*\\n\\nVocê não tem avisos pendentes no momento. ✅\\n\\n_Assim que a escola enviar algo, você receberá aqui!_' } }];\n}\nlet t = `📢 *Seus Avisos* (${lista.length})\\n\\n`;\nlista.forEach((a, i) => {\n  const dt = a.created_at ? new Date(a.created_at).toLocaleDateString('pt-BR', { day: '2-digit', month: '2-digit', year: 'numeric' }) : '?';\n  t += `📌 *${a.titulo}*\\n   ${a.mensagem}\\n   _${dt}_\\n\\n`;\n});\nt += '_Para mais informações, entre em contato com a escola. 🏫_';\nreturn [{ json: { from, instance, msg: t, ids: lista.map(a => a.id) } }];"
      },
      "id": "es-0001-0001-0001-0001-000000000042",
      "name": "Formatar Avisos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1904,
        1344
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolution.automacaopme.com.br/message/sendText/{{ $json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "187303942A46-4052-8D89-5A4CA2523ABD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.from }}"
            },
            {
              "name": "text",
              "value": "={{ $json.msg }}"
            }
          ]
        },
        "options": {}
      },
      "id": "es-0001-0001-0001-0001-000000000043",
      "name": "Enviar Avisos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2144,
        1344
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { from: $json.from, instance: $json.instance } }];"
      },
      "id": "es-0001-0001-0001-0001-000000000044",
      "name": "Cancelar Fluxo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        1568
      ]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://ywsobgbpwhykkfolvoml.supabase.co/rest/v1/sessoes_escola?telefone=eq.{{ $json.from }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3c29iZ2Jwd2h5a2tmb2x2b21sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3NzY0MzcsImV4cCI6MjA5NjM1MjQzN30.9AT-9X8WX3ecA2_OYOy4tVaJLgNhf3k1lo8rngkWcE8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3c29iZ2Jwd2h5a2tmb2x2b21sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3NzY0MzcsImV4cCI6MjA5NjM1MjQzN30.9AT-9X8WX3ecA2_OYOy4tVaJLgNhf3k1lo8rngkWcE8"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "es-0001-0001-0001-0001-000000000045",
      "name": "DELETE Sessao Cancelar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1904,
        1568
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolution.automacaopme.com.br/message/sendText/{{ $('Cancelar Fluxo').item.json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "187303942A46-4052-8D89-5A4CA2523ABD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Cancelar Fluxo').item.json.from }}"
            },
            {
              "name": "text",
              "value": "❌ *Operação cancelada.*\n\nDigite *menu* ou qualquer mensagem para voltar ao início. 🏫"
            }
          ]
        },
        "options": {}
      },
      "id": "es-0001-0001-0001-0001-000000000046",
      "name": "Enviar Cancelamento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2144,
        1568
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $json;\nconst etapa = d.sessaoEtapa, texto = d.texto ?? '', dados = d.sessaoDados ?? {};\nlet nd = { ...dados }, prox = null, resp = '', ok = false;\n\nif (!etapa || etapa === 'reserva_local') {\n  if (!etapa) {\n    resp = '📅 *Fazer Reserva*\\n\\nQual espaço você deseja reservar?\\n\\n🔹 Sala de Reunião\\n🔹 Auditório\\n🔹 Sala de Atividades\\n🔹 Quadra Esportiva\\n\\n_Digite o nome do espaço:_';\n    prox = 'reserva_local';\n  } else {\n    if (texto.length < 3) { resp = '⚠️ Informe o nome do espaço desejado.'; prox = 'reserva_local'; }\n    else { nd.local = texto; resp = `📆 *Data da Reserva*\\n\\nQual a data desejada para reservar *${texto}*?\\n\\n_Informe no formato DD/MM/AAAA:_`; prox = 'reserva_data'; }\n  }\n} else if (etapa === 'reserva_data') {\n  const match = texto.match(/^(\\d{2})/(\\d{2})/(\\d{4})$/);\n  if (!match) { resp = '⚠️ Data inválida. Use o formato DD/MM/AAAA.'; prox = 'reserva_data'; }\n  else {\n    const [, dd, mm, yyyy] = match;\n    const iso = `${yyyy}-${mm}-${dd}`;\n    nd.data = iso; nd.dataFmt = texto;\n    resp = `⏰ *Horário*\\n\\nQual o horário para a reserva de *${nd.local}* no dia *${texto}*?\\n\\n_(Ex: 09:00, 14:30)_`;\n    prox = 'reserva_horario';\n  }\n} else if (etapa === 'reserva_horario') {\n  nd.horario = texto; ok = true;\n  const proto = 'RV-' + String(Date.now()).slice(-6);\n  nd.protocolo = proto;\n  resp = `✅ *Reserva registrada!*\\n\\n📆 Espaço: ${nd.local}\\n📅 Data: ${nd.dataFmt}\\n⏰ Horário: ${nd.horario}\\n🔖 Protocolo: *${proto}*\\n\\nA coordenação irá confirmar sua reserva. 🏫\\n\\n_Status: Pendente de aprovação_`;\n}\n\nreturn [{ json: { from: d.from, instance: d.instance, responsavelId: d.responsavelId, resp, prox, nd: JSON.stringify(nd), ok } }];"
      },
      "id": "es-0001-0001-0001-0001-000000000047",
      "name": "Lógica Reserva",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        1760
      ]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://ywsobgbpwhykkfolvoml.supabase.co/rest/v1/sessoes_escola?telefone=eq.{{ $json.from }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3c29iZ2Jwd2h5a2tmb2x2b21sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3NzY0MzcsImV4cCI6MjA5NjM1MjQzN30.9AT-9X8WX3ecA2_OYOy4tVaJLgNhf3k1lo8rngkWcE8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3c29iZ2Jwd2h5a2tmb2x2b21sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3NzY0MzcsImV4cCI6MjA5NjM1MjQzN30.9AT-9X8WX3ecA2_OYOy4tVaJLgNhf3k1lo8rngkWcE8"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "es-0001-0001-0001-0001-000000000048",
      "name": "DELETE Sessao Res",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1904,
        1760
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cres",
              "leftValue": "={{ $('Lógica Reserva').item.json.ok }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "es-0001-0001-0001-0001-000000000049",
      "name": "Res OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2080,
        1760
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ywsobgbpwhykkfolvoml.supabase.co/rest/v1/sessoes_escola",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3c29iZ2Jwd2h5a2tmb2x2b21sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3NzY0MzcsImV4cCI6MjA5NjM1MjQzN30.9AT-9X8WX3ecA2_OYOy4tVaJLgNhf3k1lo8rngkWcE8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3c29iZ2Jwd2h5a2tmb2x2b21sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3NzY0MzcsImV4cCI6MjA5NjM1MjQzN30.9AT-9X8WX3ecA2_OYOy4tVaJLgNhf3k1lo8rngkWcE8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ telefone: $('Lógica Reserva').item.json.from, etapa: $('Lógica Reserva').item.json.prox, dados: JSON.parse($('Lógica Reserva').item.json.nd), updated_at: new Date().toISOString() }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "es-0001-0001-0001-0001-000000000050",
      "name": "INSERT Sessao Res",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2272,
        1680
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ywsobgbpwhykkfolvoml.supabase.co/rest/v1/reservas_escola",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3c29iZ2Jwd2h5a2tmb2x2b21sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3NzY0MzcsImV4cCI6MjA5NjM1MjQzN30.9AT-9X8WX3ecA2_OYOy4tVaJLgNhf3k1lo8rngkWcE8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl3c29iZ2Jwd2h5a2tmb2x2b21sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3NzY0MzcsImV4cCI6MjA5NjM1MjQzN30.9AT-9X8WX3ecA2_OYOy4tVaJLgNhf3k1lo8rngkWcE8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ responsavel_id: $('Lógica Reserva').item.json.responsavelId, local: JSON.parse($('Lógica Reserva').item.json.nd).local, data: JSON.parse($('Lógica Reserva').item.json.nd).data, horario: JSON.parse($('Lógica Reserva').item.json.nd).horario, status: 'pendente' }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "es-0001-0001-0001-0001-000000000051",
      "name": "INSERT Reserva",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2272,
        1840
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolution.automacaopme.com.br/message/sendText/{{ $('Lógica Reserva').item.json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "187303942A46-4052-8D89-5A4CA2523ABD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Lógica Reserva').item.json.from }}"
            },
            {
              "name": "text",
              "value": "={{ $('Lógica Reserva').item.json.resp }}"
            }
          ]
        },
        "options": {}
      },
      "id": "es-0001-0001-0001-0001-000000000052",
      "name": "Enviar Reserva",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2464,
        1760
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          },
          {
            "node": "Parsear Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Mensagem": {
      "main": [
        [
          {
            "node": "GET Responsavel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Responsavel": {
      "main": [
        [
          {
            "node": "GET Sessao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Sessao": {
      "main": [
        [
          {
            "node": "Consolidar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidar": {
      "main": [
        [
          {
            "node": "Responsavel existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responsavel existe?": {
      "main": [
        [
          {
            "node": "Roteador",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lógica Cadastro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DELETE Sessao Cadastro": {
      "main": [
        [
          {
            "node": "Cadastro OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastro OK?": {
      "main": [
        [
          {
            "node": "INSERT Sessao Cadastro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "INSERT Responsavel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT Sessao Cadastro": {
      "main": [
        [
          {
            "node": "Enviar Cadastro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT Responsavel": {
      "main": [
        [
          {
            "node": "Enviar Cadastro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Roteador": {
      "main": [
        [
          {
            "node": "Switch Rota",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Rota": {
      "main": [
        [
          {
            "node": "GET Agenda",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GET Cardapio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lógica Autorizacao",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lógica Reserva",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lógica Ocorrencia",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lógica Solicitacao",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GET Avisos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cancelar Fluxo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Agenda": {
      "main": [
        [
          {
            "node": "Formatar Agenda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Agenda": {
      "main": [
        [
          {
            "node": "Enviar Agenda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Cardapio": {
      "main": [
        [
          {
            "node": "Formatar Cardapio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Cardapio": {
      "main": [
        [
          {
            "node": "Enviar Cardapio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DELETE Sessao Aut": {
      "main": [
        [
          {
            "node": "Aut OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aut OK?": {
      "main": [
        [
          {
            "node": "INSERT Sessao Aut",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "INSERT Autorizacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT Sessao Aut": {
      "main": [
        [
          {
            "node": "Enviar Autorizacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT Autorizacao": {
      "main": [
        [
          {
            "node": "Enviar Autorizacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DELETE Sessao Occ": {
      "main": [
        [
          {
            "node": "Occ OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Occ OK?": {
      "main": [
        [
          {
            "node": "INSERT Sessao Occ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "INSERT Ocorrencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT Sessao Occ": {
      "main": [
        [
          {
            "node": "Enviar Ocorrencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT Ocorrencia": {
      "main": [
        [
          {
            "node": "Enviar Ocorrencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DELETE Sessao Sol": {
      "main": [
        [
          {
            "node": "Sol OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sol OK?": {
      "main": [
        [
          {
            "node": "INSERT Sessao Sol",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "INSERT Solicitacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT Sessao Sol": {
      "main": [
        [
          {
            "node": "Enviar Solicitacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT Solicitacao": {
      "main": [
        [
          {
            "node": "Enviar Solicitacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Avisos": {
      "main": [
        [
          {
            "node": "Formatar Avisos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Avisos": {
      "main": [
        [
          {
            "node": "Enviar Avisos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancelar Fluxo": {
      "main": [
        [
          {
            "node": "DELETE Sessao Cancelar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DELETE Sessao Cancelar": {
      "main": [
        [
          {
            "node": "Enviar Cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lógica Reserva": {
      "main": [
        [
          {
            "node": "DELETE Sessao Res",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DELETE Sessao Res": {
      "main": [
        [
          {
            "node": "Res OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Res OK?": {
      "main": [
        [
          {
            "node": "INSERT Sessao Res",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "INSERT Reserva",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT Sessao Res": {
      "main": [
        [
          {
            "node": "Enviar Reserva",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT Reserva": {
      "main": [
        [
          {
            "node": "Enviar Reserva",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lógica Cadastro": {
      "main": [
        [
          {
            "node": "DELETE Sessao Cadastro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lógica Autorizacao": {
      "main": [
        [
          {
            "node": "DELETE Sessao Aut",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lógica Ocorrencia": {
      "main": [
        [
          {
            "node": "DELETE Sessao Occ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lógica Solicitacao": {
      "main": [
        [
          {
            "node": "DELETE Sessao Sol",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    "escola",
    "whatsapp",
    "bot"
  ]
}